.App {
  min-height: 100vh;
  text-align: center;
  background-color: rgba(231, 231, 231, 0.5);
  font-family: "American Typewriter";
}

.AppGrid {
  max-width: 80vw;
}

.LogoImg {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
